# Ignore folders.
.storage
.cloud
.google.token
secrets.yaml
entity_registry.yaml
known_devices.yaml
custom_components
www
tts
home-assistant.log
home-assistant_v2.db*
.sonoff.json

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
